<!-- <p>test-practice works!</p> -->
<div class="col-6 p-3">
    <h3 class="text-center">Reactive Form</h3>
    <form action="" [formGroup]="testForm" (ngSubmit)="submitForm()" class="form-group p-3">
        <div class="">
            <label for="">Name</label>
            <input type="text" class="form-control" formControlName="name">
        </div>
        <div>
            <label for="">Age</label>
            <input type="text" class="form-control" formControlName="age">
        </div>
        <div>
            <button  type="submit" class="mt-2 btn btn-primary">Submit</button>
        </div>
    </form>
</div>